{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
  <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
    <form action="/start" method="post" class="form-inline" enctype = "multipart/form-data">
      <!-- <input type = "file" name = "file" /> -->
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">開始</button>
    </form>

    <form action="/shun" method="post" class="form-inline" enctype = "multipart/form-data">
      <!-- <input type = "file" name = "file" /> -->
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">開始shun</button>
    </form>

    <form action="/train" method="post" class="form-inline" enctype = "multipart/form-data">
      <!-- <input type = "file" name = "file" /> -->
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">train</button>
    </form>

    <form action="/infer" method="post" class="form-inline" enctype = "multipart/form-data">
      <!-- <input type = "file" name = "file" /> -->
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">infer</button>
    </form>
    {% if result %}
    <p class="detail_container">
                <判定結果><br>
                {{result}}<br>

    </p>
    {% endif %}
  </div>
{% endblock %}
