{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
  <div class="col-md-12" style="margin-top:10px; margin-bottom:20px;">
    <form action="/add" method="post" class="form-inline" enctype = "multipart/form-data">
      <input type = "text" name = "name" />
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">登録</button>
    </form>

    <form action="/train" method="post" class="form-inline" enctype = "multipart/form-data">
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">train</button>
    </form>
    {% if train_warning %}
    <p class="warning">
        {{train_warning}}
    </p>
    {% endif %}

    <form action="/infer" method="post" class="form-inline" enctype = "multipart/form-data">
      <button type="submit" class="btn btn-primary" style="margin-top:5px;">infer</button>
    </form>
    {% if result %}
    <p class="detail_container">
                判定結果:{{result}}
    </p>
    {% endif %}
  </div>

  <div class="debug">
    <p>[debug]</p>
    <p>data:{{data}}</p>
  </div>
{% endblock %}
